### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store


### Build output that is never committed ###
## The other icon sets and styles of the examples (`make icons`, `make material`):
examples/cv-ar-*.pdf
examples/coverletter-ar-*.pdf
